.banner__wrapper.categories__page {
	.banner.page {
		height: 550px;
		@media ($mb_lg) {
			height: 600px;
		}
	}
	.banner {
		&:before {
			background-color: #dddbd3;
		}
	}
	.banner__title-h1 {
		font-size: $font_2xl;
		margin-bottom: 100px;
	}
}
