.product__page {
	background-color: #dddbd3;
	padding: 130px 0 180px 0;
	position: relative;
	overflow: hidden;
	&::before {
		content: "";
		position: absolute;
		height: 90px;
		width: 60vw;
		display: block;
		bottom: 0;
		right: calc(90px / -2);
		left: auto;
		transform: skewX(45deg);
		background-color: #0d0d0d;
		overflow: hidden;
	}
	.product__info {
		overflow-wrap: break-word;
		background-color: #fdfdfd;
		padding: 10px 10px 10px 20px;
		border-radius: 2px;
	}
}
.product__slider {
	margin-bottom: 50px;
	@media ($mb_lg) {
		margin-bottom: 0;
	}
	img {
		width: 100%;
		height: auto;
	}
	margin-left: 0px;
	@media ($mb_lg) {
		margin-right: 20px;
	}
	position: relative;

	.slider-nav {
		.slick-track {
			display: flex;
			border-left: 1px solid #0d0d0d30;
			border-right: 1px solid #0d0d0d30;
		}
		padding-top: 10px;
		margin-top: 20px;
		border-top: 1px solid #e10f21;
		.item {
			margin: 0 5px;
			max-width: 150px;
			cursor: pointer;
			&:hover {
				border: 2px solid #e10f21;
			}
		}
	}
	.item {
		border-radius: 2px;
		outline: none;
	}
	.slick-arrow {
		margin: 0;
		position: absolute;
		top: 50%;
		z-index: 1;
		font-size: 1.4rem;
		font-weight: 300;
		padding: 10px 4px;
		letter-spacing: 0.1rem;
		border: 4px solid #e10f21;
		color: #0d0d0d;
		outline: none;
		border-radius: 2px;
		&:hover {
			color: #fdfdfd;
		}
	}
	.slick-prev {
		left: -15px;
	}
	.slick-next {
		right: -15px;
	}
}
.slider-nav .slick-slide.slick-current.slick-active {
	border: 1px solid #e10f21;
}
.links {
	background-color: inherit;
	a {
		font-size: $font_xs;
		color: #e10f21;
		text-decoration: none;
	}
}
